In [1]:
import pandas as pd
import os
import chardet
from darwinutils.log import get_task_logger
from darwinutils.mapreduce import parallel_starmap_p
import numpy as np
import time

logger = get_task_logger(__name__)

global_df_lst = []

class CSV2DF(object):
    def __init__(self, max_byte_num_for_coding_detect=100*1024, max_thread_num=None, csv_max_read_lines = 50000):
        if max_thread_num is None:
            self._max_thread_num = max(os.cpu_count() - 4, 3)
        else:
            self._max_thread_num = max_thread_num
        self._max_byte_num_for_coding_detect = max_byte_num_for_coding_detect
        self._csv_max_read_lines = csv_max_read_lines

    def detect_coder(self, file_path):
        with open(file_path, 'rb') as f:
            if os.stat(file_path).st_size <= self._max_byte_num_for_coding_detect:
                detector = chardet.detect(f.read())
            else:
                detector = chardet.detect(f.read(self._max_byte_num_for_coding_detect))
        """There are some issues while using gb2312 so change to gb18030"""
        if 'gb2312' == detector['encoding'].lower():
            detector['encoding'] = 'gb18030'
        logger.debug("Detected Coder info is {}".format(detector))
        return detector['encoding']

    def read_csv_file(self, file_path, encoding, skiprows=None, read_rows=None, usecols=None):
        func = pd.read_csv
        try:
            file_df = func(file_path, encoding=encoding, skiprows=skiprows, nrows=read_rows,low_memory=False, usecols=usecols)
        except Exception as e:
            """Normally, it caused by out of range for skiprows"""
            print("{} - {} may cause out of range for file {}. Reason({})".format(
                skiprows, read_rows, os.path.basename(file_path), str(e)))
            file_df = None
        return file_df

    def map_column_name_idx(self, column_name_lst, map_column_name_lst):
        map_column_idx = []
        for column_name in map_column_name_lst:
            map_column_idx.append(column_name_lst.index(column_name))
        map_column_idx.sort()
        return map_column_idx
            
    def read_content(self, file_path, usecols=None, encoding=None):
        if not os.path.exists(file_path):
            logger.error("{} does not exist".format(file_path))
            return None
        if encoding is None:
            coder = self.detect_coder(file_path)
        else:
            coder = encoding
        skiprows = 0
        """Get Header"""
        header = self.read_csv_file(file_path, encoding=coder, skiprows=skiprows, read_rows=2)
        columns_name = header.columns.tolist()
        all_df = []
        print("Start Read: Coder:{}".format(coder))
        loop_num = 0
        if usecols is not None:
            if len(set(usecols).intersection(set(columns_name))) != len(usecols):
                print("Error: Wrong usecols setting: {} not in list".format(set(usecols).difference(set(usecols).intersection(set(columns_name)))))
                return None         
            tmp_cols = usecols
            usecols = self.map_column_name_idx(columns_name, usecols)    
            columns_name = list(map(lambda s:columns_name[s], usecols))

        while True:
            param_lst = []
            print("Start Batch Read")
            for cnt in range(self._max_thread_num):
                param_lst.append((file_path, coder, skiprows, self._csv_max_read_lines, usecols))
                skiprows += self._csv_max_read_lines
            file_df_lst = parallel_starmap_p(self.read_csv_file, param_lst)
            file_df_lst = list(file_df_lst)
            print("Batch Read Done")
            if file_df_lst[-1] is None:
                """Read complete"""
                all_df.extend(list(filter(lambda s: s is not None, file_df_lst)))
                break
            else:
                all_df.extend(file_df_lst)
                if file_df_lst[-1].shape[0] != self._csv_max_read_lines:
                    """Read complete"""
                    break
            loop_num += 1
        print("Merge {} pieces of DF together. Total Loop: {}".format(len(all_df), loop_num))
        if len(all_df) > 1:
            for df in all_df:
                df.columns = columns_name
        return all_df

In [2]:
del_column_names = ['FM_MERC_CD', 'FM_TRM_NO', 'RET_RE_NO', 'TM_SMP', 'ORSC_MNO', 'CORG_TRAN_CD', 'UUID.1',
                    'TRANSACTION_ID', 'CREATE_USR', 'UPDATE_USR', 'UUID.2', 'USR_ID', 'IN_MNO.2', 'MNO.1',
                    'MEC_DIS_NM', 'BUS_OVERVIEW', 'CPR_REG_NM_CN', 'CPR_OPER_NM_CN', 'CPR_REG_NM_EN', 'CPR_OPER_NM_EN', 
                    'BUS_OVERVIEW_BEN', 'KEY_WORDS', 'MEC_TYP_DETAIL', 'UUID.3', 'USR_ID.1', 'CPR_REG_ADDR',
                    'BUS_ADDR', 'OPER_SCOPE', 'CONT_NM_CN', 'CPR_REG_CAPITAL',  'POS_INSTALL_ADDR', 'SIGN_END_DT',
                    'SALES_MAN_LABEL', 'USR_ID.2',"CORG_RP_MSG","REAL_CORG_NO","IN_MNO.1","PAY_TYPE.1","UUID.4","PAY_CHANNELS",
                    "CONSUMER_ID","PASSWORD_FLAG","CARDHOLDER_NAME", "CORG_RP_CD", "IDC", "BANK_ORDER_NO_EXTEND", "POS_SEQ_NO",
                    'IN_MNO.3', 'BIN_ID']
same_value_columns = ['ISS_ORG_NO', 'IS_XW', 'KJ_PAYT_YPE', 'ARG_PAY_DT', 'IS_TEYOU', 'IS_OA_FREEZE', 'TRAD_MNO', 'OP_UTE', 
                      'LBNK_NO', 'RP_SUB_CODE', 'SET_ONO', 'ROUTE_FLG', 'DISCOUNT_AMT', 'VAS_FEE_AMT', 'PAYEE_BRANCH_NO', 
                      'COUPON_CODE', 'MOBILE_OPER_TYP1', 'UPDATE_TIME', 'PRIOR_PAY_FLG', 'PAY_FEE_AMT', 'ACT_TYP', 'ATV_FLG', 
                      'KJ_ORD_NO', 'WEB_SERVE_COST_AMOUNT', 'AUTO_PAY_FLG', 'USD', 'SET_MOD', 'END_DT', 'ISREF', 'PROMOT_NO',
                      'OFFST_AMT', 'SET_AMT', 'AUD_BNO', 'TM_CTE.2', 'REF_REASON', 'AGENT_ORG_NO.1', 'COUNTRY', 'AUT_PAY_MOD', 
                      'MOBILE_SOURCE', 'VAS_FEE_RATE', 'REALITY', 'AUD_STS', 'DT_CTE.2', 'DT_UTE.2', 'LBNK_NM', 'PAY_ACC_TYP', 
                      'PAY_TYP', 'PAY_MARK', 'STR_TM', 'TRAN_DT.2', 'AUD_RMK', 'BANK_PAY_PURPOSE', 'TOL_AMT', 'CLR_DT.1', 
                      'ERROR_CODE', 'BANK_ORDER_NO', 'MOBILE_OPER_TYP', 'SET_RMK', 'BUS_KIND', 'CLR_BNO', 'TRAN_TM.1', 
                      'ACC_FLG', 'ORD_NO.1', 'STR_DT', 'ACT_NO_ENC', 'PAY_REASON', 'CHANNEL_CD', 'FRZ_NO', 'CHANNEL_DETAIL_CD', 
                      'PROD_TYP', 'OP_CTE', 'TCD', 'MEC_SS_AUTH_STS', 'T0_TYP', 'SET_FEE_AMT', 'SET_STS', 'PRIOR_PAY_LEV', 
                      'BNK_CD', 'LBNK_CITY', 'MEC_CONNENT_TYPE', 'TM_UTE.2', 'ACT_NM_ENC', 'LBNK_PROV', 'PROTOCOL_FLAG', 
                      'IN_MNO.4', 'PAY_DT', 'MEC_DEGREE', 'PAY_ONO', 'PAY_TM', 'UGT_PAY', 'WK_PAY', 'PAY_BAT_TM', 'FLAG_EMP_NO', 
                      'LEG_CRD_LEFF_FLG', 'ATV_FLG.1', 'END_TM', 'FINISH_TM.1', 'CREATE_TIME', 'FINISH_DT.1']
del_column_names += same_value_columns
tmp_head = pd.read_csv("/workspace/suixingfu/csv201803.csv", nrows=3, encoding='gb18030')
all_column_names = tmp_head.columns.tolist()
useful_column_names = all_column_names
for del_name in del_column_names:
    idx = useful_column_names.index(del_name)
    del useful_column_names[idx]
print("Useful Column Number: {}".format(len(useful_column_names)))

Useful Column Number: 134

In [3]:
test_read_csv = CSV2DF()
#global_df_lst = test_read_csv.read_content("/home/sysongyu/workspace/mytoolkits/python/data_clean/t2/t2.csv")
#global_df_lst = test_read_csv.read_content("/workspace/suixingfu/csv201711.csv", usecols=useful_column_names)
global_df_lst = test_read_csv.read_content("/workspace/suixingfu/csv201803.csv", usecols=useful_column_names, encoding='gb18030')
print(set(useful_column_names).difference(set(global_df_lst[0].columns.tolist())))
print(set(global_df_lst[0].columns.tolist()).difference(set(useful_column_names)))

Start Read: Coder:gb18030
Start Batch Read
Batch Read Done
Start Batch Read
Batch Read Done
Start Batch Read
3850000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3650000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
4150000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3400000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3700000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3350000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3750000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3600000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
2950000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3800000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3950000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3050000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3000000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3900000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3150000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3550000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
4000000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3300000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3100000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
4100000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3200000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3250000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
4050000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3450000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
3500000 - 50000 may cause out of range for file csv201803.csv. Reason(No columns to parse from file)
Batch Read Done
Merge 59 pieces of DF together. Total Loop: 2
set()
set()

In [4]:
with open("suixingfu_uuid_2018.csv", "w") as f:
    for idx, df in enumerate(global_df_lst):
        if idx == 0:
            df["UUID"].to_csv(f, mode="w", index=False, header=True)
        else:
            df["UUID"].to_csv(f, mode="a", index=False, header=False)

In [5]:
from darwinutils.mapreduce import parallel_starmap_t
import collections
import datetime

class DF_CLEAN:
    def __init__(self, head_flag=True):
        if len(global_df_lst) > 0:
            if head_flag:            
                self._columns = global_df_lst[0].columns.tolist()            
            else:
                slef._columns = ["c%04d" % x for x in range(len(global_df_lst[0].columns))]
                for df in global_df_lst:
                    df.columns = self._columns
            self._columns_dtype_dict = global_df_lst[0].columns.to_series().groupby(global_df_lst[0].dtypes).groups
        else:
            self._columns = None
        self._working_columns = []  # seems pool thread does not support a very long parameter list, have to use this method
        self._missing_value_columns = []
        self._factor_unknown = "unknown"
        self._factor_map_dict = collections.defaultdict(dict)
         
    def _get_missing_value_column_name_lst(self, df_idx):
        missing_value_column_name = []
        #print("Processing {} DF".format(df_idx))
        for name in self._working_columns:
            if global_df_lst[df_idx][name].isnull().any():
                missing_value_column_name.append(name)
        return missing_value_column_name
    
    def _reduce_lst(self, columns_lst, axis=0, method='union'):
        # axis 0 means row dealwith
        # axis 1 means column dealwith
        # method can use union and intersection, difference and so on
        value_c_lst = []
        if axis == 1:
            columns_zip = list(zip(*columns_lst))
            print("Total {} blocks".format(len(columns_zip)))
            for column_block in columns_zip:
                #print("Total {} part per block".format(len(column_block)))
                merged_block = set(column_block[0])
                for merged_part in column_block[1:]:
                    merged_block =eval("set.{}".format(method))(merged_block,set(merged_part)) 
                value_c_lst.append(list(merged_block))
        else:
            last_set = set(columns_lst[0])
            for columns_info in columns_lst[1:]:
                last_set = eval("set.{}".format(method))(last_set,set(columns_info)) 
            value_c_lst = list(last_set)
        return value_c_lst
        
    def check_missing_value_columns(self, column_names=None, df_num=None):
        if column_names is None:
            column_names = self._columns
        if column_names is None:
            print("Error: DF dose not have columns")
            return None
        param_lst = []
        if df_num is None:
            df_num = len(global_df_lst)
        self._working_columns = column_names
        for idx in range(df_num):
            param_lst.append([idx])

        column_name_list = parallel_starmap_p(self._get_missing_value_column_name_lst, param_lst)
        column_name_list = list(column_name_list)
        assert(len(column_name_list)==df_num)     
        self._missing_value_columns = self._reduce_lst(column_name_list, axis=0, method='union')
        return self._missing_value_columns
    
    def _get_same_value_column_name_lst(self, df_idx):
        same_value_column_name = []
        #print("Processing {} DF".format(df_idx))
        for name in self._working_columns:
            #if df_idx == 1:
            #    print("Check same value for column {}".format(name))
            if global_df_lst[df_idx][name].isnull().all():
                #elif global_df_lst[df_idx][name].isna().all():
                same_value_column_name.append(name)
            else:
                tmp_df = global_df_lst[df_idx][name].fillna(self._factor_unknown)
                if len(set(tmp_df.values)) == 1:
                    same_value_column_name.append(name)
            
        #if(df_idx == 1):
        #    print(same_value_column_name)
        return same_value_column_name
        
    def check_same_value_columns(self, column_names=None, df_num=None):
        if column_names is None:
            column_names = self._columns
        if column_names is None:
            print("Error: DF dose not have columns")
            return None
        param_lst = []
        if df_num is None:
            df_num = len(global_df_lst)
        self._working_columns = column_names
        for idx in range(df_num):
            param_lst.append([idx])
        column_name_list = parallel_starmap_p(self._get_same_value_column_name_lst, param_lst)
        column_name_list = list(column_name_list)
        #print(column_name_list)
        assert(len(column_name_list)==df_num)        
        return self._reduce_lst(column_name_list, axis=0, method='intersection')
    
    def _get_factor_values(self, df_idx):
        factor_column_values = []
        #if (df_idx == 0):
        #    print("Calculate Factor of columns: Processing {} DF".format(df_idx))
        #    print(len(self._working_columns))
        for name in self._working_columns:
            tmp_df = global_df_lst[df_idx][name].fillna(self._factor_unknown)
            tmp_lst = list(tmp_df.values)
            tmp_lst.append(self._factor_unknown)
            factor_column_values.append(list(set(tmp_lst)))

        return factor_column_values
    
    def _change_column_type(self, df_idx, column_type):
        #print("Change Column Types: Processing {} DF".format(df_idx))
        for name in self._working_columns:
            global_df_lst[df_idx][name] = global_df_lst[df_idx][name].astype(column_type)
    
    def get_factor_candidate_columns(self, column_names=None,df_num=None):        
        if df_num is None:
            df_num = len(global_df_lst)
        if column_names is None:
            column_names = self._columns_dtype_dict[np.dtype(object)].values

        self._working_columns = column_names
        param_lst = []
        for idx in range(df_num):
            param_lst.append([idx])
        column_name_list = parallel_starmap_p(self._get_factor_values, param_lst)
        column_name_list = list(column_name_list)

        assert(len(column_name_list)==df_num)  
        print("Reduce List")
        column_info_lst = self._reduce_lst(column_name_list, axis=1, method='union')
        return self._working_columns, column_info_lst
    
    @property
    def columns(self):
        return self._columns
    
    ########################################################
    def _set_bool_type_for_column(self, df_idx):
        for name in self._working_columns:
            #if(df_idx == 0):
            #    print("Column: {} Set to Bool".format(name))
            tmp_df = global_df_lst[df_idx][name].fillna(0)
            values = tmp_df.values.tolist()
            for idx, value in enumerate(values):
                if value != 0:
                    values[idx] = 1
            global_df_lst[df_idx][name] = values
            
            
    def set_column_to_bool(self, column_names=None,df_num=None):  
        if df_num is None:
            df_num = len(global_df_lst)
        if column_names is None:
            print("column_names is None")
            return None
     
        self._working_columns = column_names
        param_lst = []
        for idx in range(df_num):
            param_lst.append([idx])
        parallel_starmap_t(self._set_bool_type_for_column, param_lst)   
        
    def _set_factor_value_for_column(self, df_idx, value_dict):
        for name in self._working_columns:
            #if(df_idx == 0):
            #    print("Column: {} Set to Factor Value".format(name))
            tmp_df = global_df_lst[df_idx][name].fillna(self._factor_unknown)
            values = tmp_df.values.tolist()
            for idx, value in enumerate(values):
                try:
                    tmp_value = str(int(float(value)))
                    values[idx] = value_dict[name].get(tmp_value)
                except ValueError:
                    values[idx] = value_dict[name].get(value)
                if values[idx] is None:
                    print("Column {} Value {} not defined".format(name, str(value)))
                    values[idx] = value_dict[name][self._factor_unknown]
                    value_dict[name][value] = value_dict[name][self._factor_unknown]
            global_df_lst[df_idx][name] = values
    
    def set_column_to_factor(self, column_names=None,df_num=None, value_dict=None):  
        if df_num is None:
            df_num = len(global_df_lst)
        if column_names is None:
            print("column_names is None")
            return None
        if value_dict is None:
            print("value_dict is None")
            return None
     
        self._working_columns = column_names
        param_lst = []
        for idx in range(df_num):
            param_lst.append([idx, value_dict])
        parallel_starmap_t(self._set_factor_value_for_column, param_lst)   
        
    def _drop_columns(self, df_idx):
        global_df_lst[df_idx] = global_df_lst[df_idx].drop(self._working_columns, axis=1)
    
    def drop_columns(self, column_names=None,df_num=None):  
        if df_num is None:
            df_num = len(global_df_lst)
        if column_names is None:
            print("column_names is None")
            return None
     
        self._working_columns = column_names
        param_lst = []
        for idx in range(df_num):
            param_lst.append([idx])
        parallel_starmap_t(self._drop_columns, param_lst)   
        
    def _compare_two_columns(self, df_idx, src_column, target_column):
        rst = np.where(global_df_lst[df_idx][src_column] == global_df_lst[df_idx][target_column], True, False)
        return rst.all()
    
    def compare_two_columns(self, src_column, target_column, df_num=None):
        if df_num is None:
            df_num = len(global_df_lst)
        param_lst = []
        for idx in range(df_num):
            param_lst.append([idx, src_column, target_column])
        column_rst_list = parallel_starmap_p(self._compare_two_columns, param_lst)   
        column_rst_list = list(column_rst_list)
        return np.array(column_rst_list).all()
    
    def _transfer_datetime_to_int(self, df_idx, datetime_format, basetime, scale, prefix):
        print_flag = 1
        if prefix is None:
            prefix = ''
        for name in self._working_columns:
            if(df_idx == 0):
                print("Transfer Time on: {}".format(name))
            tmp_df = global_df_lst[df_idx][name].fillna(0)
            values = tmp_df.values.tolist()
            for idx, value in enumerate(values):
                if value == '0':
                    values[idx] = 0
                    continue
                if value != 0:
                    # Remove in future
                    try:
                        tmp_value = str(int(value))
                    except ValueError:
                        tmp_value = str(value)
                    if tmp_value == '' or tmp_value.find(' ')==0:
                        values[idx] = 0
                        continue
                    tmp_value=prefix+tmp_value  

                    try:
                        tmp_dateitme = datetime.datetime.strptime(tmp_value, datetime_format)
                    except Exception as e:
                        print("Error while transfer string to datatime in column {}, line {} value {}. Reason: {}".format(name, idx, value, str(e)))
                        values[idx] = 0
                        continue
                    
                    if scale=="Day":
                        values[idx] = (tmp_dateitme - basetime).days
                    elif scale=="Hour":
                        values[idx] = (tmp_dateitme - basetime).days*24 + int((tmp_dateitme - basetime).seconds/3600)
                    elif scale=="Minute":
                        values[idx] = (tmp_dateitme - basetime).days*24*60 + int((tmp_dateitme - basetime).seconds/60)
                    elif scale=="Second":
                        values[idx] = (tmp_dateitme - basetime).total_seconds
                    else:
                        print("Unsupported scale {}".format(scale))
                        return None
            if(df_idx == 0):
                print(values[:10])
            global_df_lst[df_idx][name] = values
            
        
    def transfer_datetime_to_int(self, column_names=None, datetime_format=None, basetime=None, scale=None, df_num=None, prefix=None):
        if df_num is None:
            df_num = len(global_df_lst)
        if column_names is None:
            print("column_names is None")
            return None
        if basetime is None or type(basetime).__name__ != 'datetime':
            print("basetime is None or format is not datetime")
            return None
        if datetime_format is None:
            print("datetime_format is None")
            return None
        if scale is None or scale not in ["Day", "Hour", "Minute", "Second"]:
            print("scale is None or value is not right")
            return None
        self._working_columns = column_names
        param_lst = []
        for idx in range(df_num):
            param_lst.append([idx, datetime_format, basetime, scale, prefix])
        parallel_starmap_t(self._transfer_datetime_to_int, param_lst)   
        
    def _update_value_difference_by_columns(self, df_num, refer_column_name, new_column_names=None):
        if new_column_names is None:
            for name in self._working_columns:
                #if(df_idx == 0):
                #    print("Transfer Time on: {} Set to Factor Value".format(name))
                global_df_lst[df_idx][name] = global_df_lst[df_idx][name] - global_df_lst[df_idx][refer_column_name]
        else:
            for idx, name in self._working_columns:
                #if(df_idx == 0):
                #    print("Transfer Time on: {} Set to Factor Value".format(name))
                global_df_lst[df_idx][new_column_names[idx]] = global_df_lst[df_idx][name] - global_df_lst[df_idx][refer_column_name]
        
    def update_value_difference_by_columns(self, refer_column_name, columns_names, new_column_names=None, df_num=None):
        if df_num is None:
            df_num = len(global_df_lst)
        if column_names is None:
            print("column_names is None")
            return None
        if type(refer_column_name).__name__ != 'str':
            print("refer_column_name type error")
            return None
        if new_column_names is not None and len(new_column_names) != len(columns_names):
            print("new_column_names param is not correct")
            return None
        
        self._working_columns = column_names
        param_lst = []
        for idx in range(df_num):
            param_lst.append([idx, refer_column_name, new_column_names])
        parallel_starmap_t(self._update_value_difference_by_columns, param_lst)   
        
    def _fill_value_to_nan_cell(self, df_idx, value): 
        for name in self._working_columns:
            if df_idx==0:
                print("Filling column {}".format(name))
            global_df_lst[df_idx][name] = global_df_lst[df_idx][name].fillna(value)
    
    def fill_value_to_nan_cell(self, column_names=None, value=0, df_num=None):
        if df_num is None:
            df_num = len(global_df_lst)
        if column_names is None:
            column_names = self._columns
        self._working_columns = column_names
        param_lst = []
        for idx in range(df_num):
            param_lst.append([idx, value])
        parallel_starmap_t(self._fill_value_to_nan_cell, param_lst)   
        
    def fill_fact_map_dict(self, column_names=None, factor_value=None):
        if column_names is None or factor_value is None:
            print("Wrong input parameter")
            return None
        if len(column_names) != len(factor_value):
            print("Column name list length {} not equate to factor value list length {}".format(len(column_names),len(factor_value)))
            return None
        exist_column_dict_name = self._factor_map_dict.keys()
        if len(exist_column_dict_name) == 0:
            new_column_lst = column_names
        else:
            new_column_lst = list(set(column_names).difference(set(exist_column_dict_name)))
        new_column_lst = list(map(lambda s: column_names.index(s), new_column_lst))
        for column_idx in new_column_lst:
            information =  list(factor_value[column_idx])
            tmp_lst = []
            for v in information:
                if v == ' ' or v =='':
                    continue
                try:
                    tmp_lst.append(str(int(float(v))))
                except:
                    tmp_lst.append(str(v))
            information = list(set(tmp_lst))
            del information[information.index(self._factor_unknown)]
            self._factor_map_dict[column_names[column_idx]][self._factor_unknown] = 0
            information.sort()
            for idx, key in enumerate(information):
                self._factor_map_dict[column_names[column_idx]][key] = idx+1
        exit_column_lst = set(column_names).intersection(set(exist_column_dict_name))
        exit_column_lst = list(map(lambda s: column_names.index(s), exit_column_lst))
        for column_idx in exit_column_lst:
            information =  list(factor_value[column_idx])
            tmp_lst = []
            for v in information:
                if v == ' ' or v =='':
                    continue
                try:
                    tmp_lst.append(str(int(float(v))))
                except:
                    tmp_lst.append(str(v))
            information = list(set(tmp_lst))
            information.sort()
            current_num = max(list(self._factor_map_dict[column_names[column_idx]].values())) + 1
            for idx, key in enumerate(information):
                if self._factor_map_dict[column_names[column_idx]].get(key) is None:
                    self._factor_map_dict[column_names[column_idx]][key] = current_num
                    current_num += 1
        return self._factor_map_dict

In [6]:
clean_df = DF_CLEAN()

In [7]:
missing_columns = clean_df.check_missing_value_columns()
print("Missing:\n{}".format(missing_columns))

Missing:
['OUUID', 'TD_MNO', 'DT_UTE', 'ORG_COD', 'DT_UTE.1', 'PAY_TYPE', 'CRD_NO', 'POS_OPR_ID', 'REVERSE_FLAG', 'OTHER_ENC_FLG', 'RP_CD', 'SETTLE_FLAG', 'COUPON_AMT', 'OPER_LIC_EFF_EDT', 'SIGN_MNO', 'BANK_MANAGER', 'LEG_PER_CRD_NO_ENC', 'CO_RUL_NO', 'MCC_CD', 'FINISH_DT', 'BANK_TEAM_WORK_SIGN', 'TRAN_DT.1', 'MEC_FEE_RATE', 'CRD_TYP', 'UTE_STFF_NO', 'QRCODE_MNO_TYPE', 'COOPERATION_MANAGER_ID', 'SES_BAT_NO', 'COOPER_FLAG', 'MANAGER_TEAM_WORK', 'CUSTOM_CLASSIFY', 'TXN_RSV1', 'BNK_TYP', 'IDE_NO', 'FINISH_TM', 'BD_FLG', 'TM_UTE.1', 'TAX_REG_NO', 'LIMIT_CREDIT_PAY', 'CORG_RCD', 'PAY_SOURCE', 'CORG_TRAN_STS', 'OPER_LIC_EFF_STT', 'ENCRY_CRD_NO', 'MEC_BUSI_TYP', 'IS_XW_MEC', 'SECOND_CONFIRM', 'MNO', 'IN_MOD', 'WEB_SERVE_AMOUNT', 'AUT_CD', 'CTXN_DT', 'UTE_STFF_NO.1', 'SPECIAL_OFFER', 'BANK_TEAM_WORK', 'TRM_NO', 'TM_UTE', 'CORG_NO', 'AUT_SET_STS', 'CLR_DT', 'PARENT_IN_MNO', 'ORD_NO', 'NO_SIGN_SECRET', 'CORG_NM', 'OLD_TRAN_CD', 'CCY', 'DATA_COMP']

In [8]:
same_columns = clean_df.check_same_value_columns()
print("Same:\n{}".format(same_columns))

Same:
['LIMIT_CREDIT_PAY']

In [9]:
last_fact_columns = ['IDE_NO', 'MEC_NORMAL_LEVEL', 'SETTLE_FLAG', 'SYS_ID', 'TRAN_STS', 'POS_OPR_ID', 'CORG_TRAN_STS', 'CORG_NM', 
                     'CORG_NO', 'SYS_ID.1', 'TD_MNO', 'SPECIAL_OFFER', 'QRCODE_MNO_TYPE', 'UTE_STFF_NO.1', 'TRAN_CD', 
                     'MCC_CD', 'CUP_CODE', 'CRD_TYP', 'OLD_TRAN_CD', 'MEC_DIST_CD', 'CPR_TYP', 
                     'RP_CD', 'ROOT_AGENT_ORG_NO', 'BANK_TEAM_WORK_SIGN', 'RE_BUS_CNL', 'TRAN_FLG', 'BRANCH_ORG_UUID', 'AGENT_ORG_NO', 
                     'ORG_COD', 'MEC_PROV_CD', 'CTE_STFF_NO.1', 'OPER_STT', 'UTE_STFF_NO', 'OPER_LIC_EFF_EDT', 'COOPERATION_MANAGER_ID',
                     'IN_MOD', 'MEC_CITY_CD', 'OPER_AREA', 'BNK_TYP', 'CFM_FLG', 'AGENT_BRANCH_ORG_UUID', 'CORG_RCD', 'CTE_STFF_NO',
                     'CCY', 'REVERSE_FLAG', 'SECOND_CONFIRM']
columns = clean_df.columns

print(len(last_fact_columns))
print(set(last_fact_columns).difference(set(columns)))

46
set()

In [10]:
column_name_lst, factor_values = clean_df.get_factor_candidate_columns(column_names=last_fact_columns)

Reduce List
Total 46 blocks

In [11]:
import json
with open('column_factor_map.json', 'r') as fp:
    factor_map_dict = json.load(fp)
clean_df._factor_map_dict = factor_map_dict

In [12]:
print(factor_map_dict.keys())

dict_keys(['IDE_NO', 'MEC_NORMAL_LEVEL', 'SETTLE_FLAG', 'SYS_ID', 'TRAN_STS', 'POS_OPR_ID', 'CORG_TRAN_STS', 'CORG_NM', 'CORG_NO', 'SYS_ID.1', 'TD_MNO', 'SPECIAL_OFFER', 'QRCODE_MNO_TYPE', 'UTE_STFF_NO.1', 'TRAN_CD', 'MCC_CD', 'CUP_CODE', 'CRD_TYP', 'OLD_TRAN_CD', 'MEC_DIST_CD', 'CPR_TYP', 'RP_CD', 'ROOT_AGENT_ORG_NO', 'BANK_TEAM_WORK_SIGN', 'RE_BUS_CNL', 'TRAN_FLG', 'BRANCH_ORG_UUID', 'AGENT_ORG_NO', 'ORG_COD', 'MEC_PROV_CD', 'CTE_STFF_NO.1', 'OPER_STT', 'UTE_STFF_NO', 'OPER_LIC_EFF_EDT', 'COOPERATION_MANAGER_ID', 'IN_MOD', 'MEC_CITY_CD', 'OPER_AREA', 'BNK_TYP', 'CFM_FLG', 'AGENT_BRANCH_ORG_UUID', 'CORG_RCD', 'CTE_STFF_NO', 'CCY', 'REVERSE_FLAG', 'SECOND_CONFIRM'])

In [13]:
factor_map_dict = clean_df.fill_fact_map_dict(column_names=column_name_lst, factor_value=factor_values)

In [14]:
import json
with open('column_factor_map.json', 'w') as fp:
    json.dump(factor_map_dict, fp)

In [15]:
bool_column_name = ["OUUID","ORD_NO","TRM_NO","BAT_NO","CRD_NO","REF_AMT","REF_FEE_AMT","BD_FLG","AUT_CD",
                    "ENCRY_CRD_NO","TXN_RSV1","SES_BAT_NO","COOPER_FLAG","CO_RUL_NO","LIMIT_CREDIT_PAY",
                    "PARENT_IN_MNO","AGRNO","BUSINESS_EMP_NO","CS_TEL_NO_ENC",
                    "DATA_COMP","TAX_REG_NO","CUSTOM_CLASSIFY","MANAGER_TEAM_WORK","BANK_MANAGER","MEC_ADMIN_TEL_ENC",
                    "CONT_TEL_NO_ENC","LEG_PER_CRD_NO_ENC","LEG_PER_NM_ENC","OTHER_ENC_FLG", 'OPER_LIC_NO','MNO','SIGN_MNO']
print(len(bool_column_name))
print(set(bool_column_name).difference(set(columns)))

32
set()

In [16]:
clean_df.set_column_to_bool(column_names=bool_column_name)

In [17]:
clean_df.set_column_to_factor(column_names=last_fact_columns, value_dict=factor_map_dict)

Column UTE_STFF_NO.1 Value   not defined
Column OPER_LIC_EFF_EDT Value   not defined

In [20]:
with open("csv201803_clear_1.csv", 'w') as f:
    for idx, df in enumerate(global_df_lst):
        if idx == 0:
            df.to_csv(f, mode='w', header=True, index=False, encoding='utf-8')
        else:
            df.to_csv(f, mode='a', header=False, index=False, encoding ='utf-8')

In [21]:
date_time_column_lst = ['CLR_DT','TRAN_DT','DATE_CREATED','LAST_UPDATED','TRAN_DT.1','DT_CTE','DT_UTE','OPER_LIC_EFF_STT',
                        'LEG_CRD_EFF_STT','LEG_CRD_EFF_EDT','DT_CTE.1','DT_UTE.1','SIGN_DT','CTXN_DT', 'FINISH_DT']
columns = global_df_lst[0].columns.tolist()
print(len(date_time_column_lst))
print(set(date_time_column_lst).difference(set(columns)))

15
set()

In [22]:
date_time_format_1_lst = ['CTXN_DT']
date_time_format_2_lst = ['DATE_CREATED', 'LAST_UPDATED']
date_time_format_3_lst = ['FINISH_DT', 'TRAN_DT.1', 'OPER_LIC_EFF_STT', 'TRAN_DT', 'LEG_CRD_EFF_EDT', 'DT_CTE.1', 
                          'LEG_CRD_EFF_STT', 'SIGN_DT', 'DT_UTE.1', 'CLR_DT', 'DT_UTE', 'DT_CTE']

In [ ]:
global_df_lst = test_read_csv.read_content("csv201803_clear_1.csv", encoding='gb18030')
clean_df = DF_CLEAN()

Start Read: Coder:gb18030
Start Batch Read

In [23]:
for name in date_time_column_lst:
    print(name)
    print(global_df_lst[1][name][:5])

CLR_DT
0    20180312.0
1    20180312.0
2    20180312.0
3    20180312.0
4    20180312.0
Name: CLR_DT, dtype: float64
TRAN_DT
0    20180312
1    20180312
2    20180312
3    20180312
4    20180312
Name: TRAN_DT, dtype: int64
DATE_CREATED
0    2018-03-12 16:37:35.356000
1    2018-03-12 16:54:39.775000
2    2018-03-12 17:28:16.003000
3    2018-03-12 16:39:59.950000
4    2018-03-12 16:45:31.264000
Name: DATE_CREATED, dtype: object
LAST_UPDATED
0    2018-03-12 16:37:58.000000
1    2018-03-12 16:54:40.000000
2    2018-03-12 17:28:49.000000
3    2018-03-12 16:39:59.000000
4    2018-03-12 16:45:31.000000
Name: LAST_UPDATED, dtype: object
TRAN_DT.1
0    20180312.0
1    20180312.0
2    20180312.0
3    20180312.0
4    20180312.0
Name: TRAN_DT.1, dtype: float64
DT_CTE
0    20171226
1    20170527
2    20151113
3    20160704
4    20160223
Name: DT_CTE, dtype: int64
DT_UTE
0    20180404.0
1    20180305.0
2    20180320.0
3    20180111.0
4    20180319.0
Name: DT_UTE, dtype: float64
OPER_LIC_EFF_STT
0    20171226
1    20170527
2    20151113
3    20160704
4    20160223
Name: OPER_LIC_EFF_STT, dtype: object
LEG_CRD_EFF_STT
0    19000101
1    20170527
2    20151113
3    20160704
4    20160223
Name: LEG_CRD_EFF_STT, dtype: int64
LEG_CRD_EFF_EDT
0    20991231
1    20200527
2    20151113
3    20190704
4    20190223
Name: LEG_CRD_EFF_EDT, dtype: int64
DT_CTE.1
0    20171226
1    20170527
2    20151113
3    20160704
4    20160223
Name: DT_CTE.1, dtype: int64
DT_UTE.1
0    20171227.0
1    20180305.0
2    20180119.0
3           NaN
4    20180302.0
Name: DT_UTE.1, dtype: float64
SIGN_DT
0    20171226
1    20170527
2    20151118
3    20160704
4    20161219
Name: SIGN_DT, dtype: int64
CTXN_DT
0    312.0
1    312.0
2    312.0
3    312.0
4    312.0
Name: CTXN_DT, dtype: float64
FINISH_DT
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: FINISH_DT, dtype: float64

In [24]:
print(global_df_lst[0]['CTXN_DT'][:5])
clean_df.transfer_datetime_to_int(column_names=date_time_format_1_lst, datetime_format="%Y%m%d", basetime=datetime.datetime(2018,3,1), scale="Minute",prefix='2018')
print(global_df_lst[0]['CTXN_DT'][:5])

0    301
1    301
2    301
3    301
4    301
Name: CTXN_DT, dtype: int64
Transfer Time on: CTXN_DT
[-352800, -352800, -352800, -352800, -352800, -352800, -352800, -352800, -352800, -352800]
0   -352800
1   -352800
2   -352800
3   -352800
4   -352800
Name: CTXN_DT, dtype: int64

In [80]:
print(global_df_lst[0]['TRAN_DT'][:5])
clean_df.transfer_datetime_to_int(column_names=date_time_format_3_lst, datetime_format="%Y%m%d", basetime=datetime.datetime(2018,3,1), scale="Minute")
print(global_df_lst[0]['TRAN_DT'][:5])

0    20171101
1    20171101
2    20171101
3    20171101
4    20171101
Name: TRAN_DT, dtype: int64
Transfer Time on: FINISH_DT
[0.0, 0.0, 0, 0.0, 0.0, 0.0, 0, 0.0, 0.0, 0.0]
Transfer Time on: TRAN_DT.1
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 997 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 1058 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 1068 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3071 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 5924 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 10600 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 11680 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 13890 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 17784 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 18794 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 22382 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 25073 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 276 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 313 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 473 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Transfer Time on: OPER_LIC_EFF_STT
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 60 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 936 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 447 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 501 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 518 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 521 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 875 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 804 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 164 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 834 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 381 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 1317 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 1730 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 2369 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 1939 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 2457 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 2570 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 545 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 595 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 1544 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 1891 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 1888 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 1649 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 2647 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 2706 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 2894 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3321 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 2248 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 2890 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 2258 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3027 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3051 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 2470 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3278 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3359 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3465 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3748 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3170 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3915 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 2794 value 00000000. Reason: time data '0' does not match format '%Y%m%d'

Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3250 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3374 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3358 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 4352 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3854 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 4335 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 4385 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3979 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3651 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 4727 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 4437 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 4002 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3252 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 4802 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 4172 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 3812 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 4471 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 4565 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 4794 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 5400 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 4977 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 5539 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 5594 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 4253 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 4981 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 5030 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 5301 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 5867 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 6588 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 5785 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 6257 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 6007 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 7213 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 6095 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 6685 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 7317 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 6623 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 6885 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 7269 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 7685 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 7780 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 7791 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 7523 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 7941 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 7988 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 8065 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 7830 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 7636 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 8581 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 8023 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 9051 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 8321 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 8466 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 8464 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 9287 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 8895 value 00000000. Reason: time data '0' does not match format '%Y%m%d'

Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 9380 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 9812 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 8859 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 9731 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 9733 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 8804 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 9824 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 10791 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 10413 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 10572 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 10200 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 10622 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 10640 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 9484 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 10412 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 10862 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 10556 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 10756 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 11288 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 10731 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 10187 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 10404 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 12217 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 10812 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 11141 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 11152 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 10610 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 11272 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 11069 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 12151 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 11873 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 11155 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 11948 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 12134 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 12324 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 12839 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 11617 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 12709 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 12547 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 12760 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 12878 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 14027 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 13361 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 14317 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 13243 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 14472 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 15093 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 15158 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 15189 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 14632 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 14930 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 13874 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 14838 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 14157 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 15071 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 14272 value 00000000. Reason: time data '0' does not match format '%Y%m%d'

Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 14977 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 15671 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 15366 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 15709 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 15278 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 15580 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 15365 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 14850 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 14920 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 16702 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 15189 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 17076 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 15635 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 16804 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 17216 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 16379 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 16381 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 15914 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 16384 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 17643 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 16846 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 16148 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 17405 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 16276 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 17480 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 16994 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 16730 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 17400 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 16533 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 16589 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 16953 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 16968 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 17924 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 18263 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 18190 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 17674 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 17537 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 18046 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 17719 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 18556 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 19372 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 19192 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 19153 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 19623 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 19323 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 20420 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 21032 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 21109 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 20503 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 20048 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 20379 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 20137 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 19878 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 19927 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 20447 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 20731 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 21318 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 21806 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 21050 value 00000000. Reason: time data '0' does not match format '%Y%m%d'

Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 20610 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 21435 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 20469 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 21552 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 21222 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 21037 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 21882 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 21446 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 20843 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 22022 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 20956 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 21077 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 21373 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 22281 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 21450 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 21192 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 21232 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 825 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 22983 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 1276 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 23479 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 23072 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 22865 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 23567 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 22750 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 23434 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 22955 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 23998 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 24433 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 24291 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 22857 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 24504 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 24221 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 23923 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 23924 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 25002 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 25005 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 23400 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 24093 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 25276 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 25049 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3381 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 25430 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 25579 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 25923 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 24927 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 25251 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 25318 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 25357 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 25394 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4410 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 26252 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4523 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 25847 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 26741 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 26758 value 00000000. Reason: time data '0' does not match format '%Y%m%d'

Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 26126 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 26824 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 27046 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 25930 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 26156 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 27213 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 25563 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 26443 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 26467 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 26993 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 26525 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 26341 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 26978 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 26757 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 27465 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 27831 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 27116 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 26393 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 27861 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 27156 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 27547 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 27413 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6471 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 27805 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 28644 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 28396 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 28407 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7105 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 29158 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 29075 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 29236 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 28250 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 28297 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 28474 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 29384 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 29981 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 29477 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 29203 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 29589 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 29132 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 29128 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 29847 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 30465 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 30785 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 30162 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 29828 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 29849 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 31183 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 29929 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 31184 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 30930 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 31006 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 29916 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 9610 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 31659 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 31611 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 32038 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 32010 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 31669 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 32089 value 00000000. Reason: time data '0' does not match format '%Y%m%d'

Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 32095 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 31190 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 31953 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 32022 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 32428 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 32223 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 32629 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 32213 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 31855 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 33136 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 32177 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 32508 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 32682 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11261 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 33699 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 33109 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 32980 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 34210 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 34479 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 33361 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 12166 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 33382 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 33938 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 34265 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 34917 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 34451 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 33379 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 34918 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 34276 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 34262 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 34895 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 35524 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 35032 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 35462 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 13751 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 35036 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 34520 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 35036 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 35341 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 36051 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 35612 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 36281 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 37179 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 35103 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 36879 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 36054 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 36096 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 36041 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 36992 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 36700 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 37496 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 35908 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 37188 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 35961 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 36116 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 37211 value 00000000. Reason: time data '0' does not match format '%Y%m%d'

Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 37943 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 37677 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 37755 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 38580 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 37478 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 16046 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 36837 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 38152 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 38155 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 37117 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 37689 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 39458 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 38496 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 38363 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 38792 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 37922 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 38492 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 38024 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 38066 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 39448 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 39147 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 38256 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 38260 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 39624 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 39330 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 39612 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 39720 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 39546 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 39566 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 40537 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 40305 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 40612 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 39922 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 39381 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 39649 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 39701 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 41123 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 39799 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 39838 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 41258 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 40692 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 41107 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 40482 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 40823 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 40935 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 41599 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 41025 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 41890 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 40749 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 41198 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 41302 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 41073 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 40862 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 41735 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 40874 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 41681 value 00000000. Reason: time data '0' does not match format '%Y%m%d'

Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 42742 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 41723 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 42492 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 43091 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 41152 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 42394 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 42529 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 42044 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 42781 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 42567 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 42917 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 42962 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 43021 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 44093 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 43345 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 43460 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 44360 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 44163 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 43872 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 44635 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 43908 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 44803 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 44424 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 45255 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 44510 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 44537 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 44806 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 43616 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 45743 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 44767 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 45603 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 45628 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 45108 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 45131 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 44719 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 45091 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 45607 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 45299 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 46448 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 45470 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 45554 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 44817 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 45622 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 46564 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 45722 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 46026 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 46153 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 46124 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 46700 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 47134 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 46583 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 47180 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 47266 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 47215 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 46523 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 47878 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 46641 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25760 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 46652 value 00000000. Reason: time data '0' does not match format '%Y%m%d'

Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 48068 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 47547 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 48293 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 48188 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 47624 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 47378 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 47272 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 47661 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 49049 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 48492 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 48068 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 48752 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 48923 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 49011 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 48707 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 49431 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 48976 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
[-273600, -8640, -2880, -491040, -8640, -505440, -61974720, -8640, -17280, -348480]
Transfer Time on: TRAN_DT
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 49822 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 48867 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 49075 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 49418 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 49748 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 49628 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column OPER_LIC_EFF_STT, line 49828 value 00000000. Reason: time data '0' does not match format '%Y%m%d'
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 46 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 281 value 20190229. Reason: day is out of range for month
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Transfer Time on: LEG_CRD_EFF_EDT
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 504 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 821 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 357 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 761 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 343 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 691 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 631 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 594 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 2218 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 1166 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 1073 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 1097 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 2494 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 390 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 176 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 1161 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 771 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 979 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 789 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 410 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 1111 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 1946 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 703 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 1754 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 1388 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 1122 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 1553 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 2016 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 915 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 2815 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 1336 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 1010 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3828 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 1950 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 2604 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3869 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 2856 value 20190229. Reason: day is out of range for month

Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 1129 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 2174 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 2639 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 2812 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 1593 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 2190 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 2023 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 2081 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3074 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 2681 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 1738 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3672 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 2042 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3354 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 2746 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3401 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4009 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3887 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 2378 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4150 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3323 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3031 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3864 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3293 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3948 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 2999 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3603 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4924 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4086 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4870 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4601 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3607 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3327 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4416 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4486 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3489 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3492 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4109 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3255 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4709 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4542 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 5347 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6689 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 3953 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 5692 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 5734 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4638 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4562 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4160 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 5579 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7224 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4987 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6166 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6297 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 5098 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 5798 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 5261 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4619 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6215 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 5888 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6347 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 5503 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 5577 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 4831 value 20190229. Reason: day is out of range for month

Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 5393 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 5395 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6738 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6689 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6852 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7073 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6282 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6131 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 5240 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6609 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7222 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6721 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 5362 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6813 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6714 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 5311 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6992 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7057 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7130 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7159 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7214 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7137 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7376 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 5461 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 5871 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6325 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6591 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7145 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7758 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7816 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7996 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6392 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 6872 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 8114 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7693 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 8306 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 8585 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 8599 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7738 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7372 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 8516 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7147 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 8785 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7840 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7183 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 9534 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 8928 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7541 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 9023 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 9299 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 8677 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7511 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 7838 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 8618 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 9520 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 9559 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 8265 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 9722 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 9985 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 10290 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 8412 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 10262 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 10125 value 20190229. Reason: day is out of range for month

Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 8809 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 10082 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 10135 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 9040 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11008 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 10810 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11129 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 9110 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11006 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11404 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 10419 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 12393 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 9422 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11092 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11278 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 12605 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 10246 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 12630 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 10265 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 10636 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11249 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 9776 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 12091 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 10807 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11791 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11554 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11727 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 10527 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 10426 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11037 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11160 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 12149 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 12519 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11617 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11534 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11578 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11595 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11551 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 12078 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 12178 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 12890 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 13596 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 13257 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 13247 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 13051 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 12581 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 12300 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 11548 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 12330 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 13251 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 13386 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14834 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 13428 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 13358 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 12693 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 12960 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 13383 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 12979 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 12537 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14217 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14522 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 13234 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14143 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14420 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14966 value 20190229. Reason: day is out of range for month

Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14307 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 13362 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14450 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14686 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 13496 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 13135 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 15088 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14265 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14347 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 15400 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 13983 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14544 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14995 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 15354 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14393 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 15320 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 16874 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 13819 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 15718 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 15718 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14188 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14381 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 15468 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 15925 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 16367 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 16062 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 15592 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14664 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 16241 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 16417 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 16299 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 16487 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 15826 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 14928 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 16964 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 15752 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 16077 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 15750 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 17269 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 16777 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 17457 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 15972 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 15554 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 17516 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 17211 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 15739 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 17805 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 16515 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 15878 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 15890 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 17461 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 16470 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19044 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 17841 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 17727 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 17973 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 16845 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19441 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 18161 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 18238 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 17269 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 17240 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 18415 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 18239 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 17373 value 20190229. Reason: day is out of range for month

Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 16963 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 18895 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 18435 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 18010 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19111 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19368 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 17909 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19073 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 18955 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19102 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 18975 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19009 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19260 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19364 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19882 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 18013 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19681 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 18683 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19698 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20003 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20033 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20040 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19809 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20067 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20080 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20203 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19650 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20073 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19207 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 18335 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20558 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20450 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 18413 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20434 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20577 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20455 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20523 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19570 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20926 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19613 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20922 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 21014 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19177 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19725 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19167 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19782 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19427 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 21207 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20324 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 21468 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 21315 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20272 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20315 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20499 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 19629 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 21250 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 21884 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 20312 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22273 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22057 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22124 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22098 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22098 value 20190229. Reason: day is out of range for month

Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 21208 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22213 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22504 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22315 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 21693 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 21258 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22503 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 21421 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22547 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22200 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 23100 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22576 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 21566 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22031 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22716 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22223 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22870 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 21825 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 21309 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22960 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 21920 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22136 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22507 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 23143 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22114 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 23158 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 23460 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 23686 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 23701 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22537 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22134 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24098 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 21910 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22193 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 23939 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22413 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22079 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22992 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24098 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 23944 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24214 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 22386 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24332 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24507 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 23241 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24427 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24799 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24570 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24886 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 26118 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24404 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24796 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 23734 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 23575 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24139 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 23196 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24999 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25101 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24920 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24039 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24247 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25083 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24098 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 23313 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24157 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 23676 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25453 value 20190229. Reason: day is out of range for month

Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 26843 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25574 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24652 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25765 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 26002 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24246 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25293 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 26233 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25675 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 26451 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25700 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25321 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24720 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25201 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 26331 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 24681 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25144 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 26175 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25227 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25532 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25383 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25362 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 27270 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 27339 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25146 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 27206 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 26731 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 26723 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25253 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 26736 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 27545 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25211 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 27015 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25142 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25853 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 26848 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 26950 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 26160 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25593 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25700 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 27646 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 26359 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 27371 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 25727 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 26466 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 27761 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 27251 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 27731 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 27965 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 27939 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 27497 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 28288 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 27585 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 27371 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 28072 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 28302 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 28320 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29211 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 28611 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 28407 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 28576 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 28763 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 28952 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 28939 value 20190229. Reason: day is out of range for month

Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29089 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29203 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29315 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 28165 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29282 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 27870 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29940 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30000 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29611 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 27767 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 28550 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29116 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29856 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29719 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29930 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29819 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31451 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30056 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29515 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 28901 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30336 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29981 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30098 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30265 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30050 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30346 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29383 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29469 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30433 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30314 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30862 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31412 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30545 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29221 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29800 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29383 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30900 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31177 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 29901 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30945 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31651 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31447 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30228 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31479 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31225 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31202 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30757 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31955 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 32163 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 32152 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31926 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30531 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30740 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31432 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 32006 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 30799 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31564 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31828 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 32382 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31051 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 32645 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 32227 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 32351 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 32405 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31226 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31253 value 20190229. Reason: day is out of range for month

Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31029 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31335 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31956 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31391 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31603 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 32786 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31576 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 32079 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31740 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33245 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 32650 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33771 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 31727 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33012 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33645 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33388 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34015 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33095 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33307 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34446 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 32697 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 32770 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34789 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33947 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34059 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34637 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34074 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33981 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33085 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35870 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34304 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33167 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33525 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34471 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34994 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35022 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33400 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33614 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35057 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34729 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34098 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34441 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34749 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33173 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33869 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33577 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33264 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34325 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 33422 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34952 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35338 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35132 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34359 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35171 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37100 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35463 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35037 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35711 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35884 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34838 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34196 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35659 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35344 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 34987 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35952 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35051 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37224 value 20190229. Reason: day is out of range for month

Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35752 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 36855 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 36356 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35860 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 36944 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 36426 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 36571 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35695 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37594 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 36506 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37807 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 36321 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 38155 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35197 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37226 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 36206 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 36216 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37328 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35906 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35822 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 36701 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37467 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 38099 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37662 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 36520 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 35970 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 36666 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 38357 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37868 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 36999 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37094 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 38032 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37457 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 38056 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37109 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 38154 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 38523 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37163 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37834 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37220 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37450 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37521 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39757 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40332 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 38684 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37666 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 38655 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37681 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 38757 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37942 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39406 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39295 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39084 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39679 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37355 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39583 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40420 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39927 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39834 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40067 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39635 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 37778 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39010 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39827 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 41462 value 20190229. Reason: day is out of range for month

Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40434 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39162 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39089 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39980 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40115 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40123 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40102 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40291 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39886 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 41452 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40661 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39702 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40321 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39780 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40587 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39687 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39666 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39896 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 38814 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39572 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40119 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40205 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39880 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39055 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39541 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 41524 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39610 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39955 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39207 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40474 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 41036 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 39649 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40130 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 41225 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 41840 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40756 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 41367 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 41124 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 41957 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42006 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 41917 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40721 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42081 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42383 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42018 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 41314 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40714 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 41596 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42401 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40941 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43346 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 40587 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 41572 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42136 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43600 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42549 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43090 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42483 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 41784 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42329 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42994 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42828 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 44625 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 44231 value 20190229. Reason: day is out of range for month

Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43704 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42315 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 44835 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42550 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43078 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43206 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42712 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42685 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42720 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 44861 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42810 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43904 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 44524 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42930 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 44972 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43552 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43560 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43007 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 45160 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42145 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43406 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 42635 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43146 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43283 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 45789 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 44433 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 44849 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 44871 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43764 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43027 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 44387 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 44231 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 44237 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 46293 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43735 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 44001 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 44865 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 44528 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43912 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 44336 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 45093 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43681 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 46377 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 43381 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 45416 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 45490 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 45822 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 47608 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 45840 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 46670 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 45354 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 45342 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 45506 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 45584 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 46075 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 45462 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48049 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 45545 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 45489 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 46383 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 45784 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 45698 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 46045 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 46590 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 47326 value 20190229. Reason: day is out of range for month

Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48610 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 46277 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 45175 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 47821 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 46572 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 46693 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49164 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 46791 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 47254 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 46925 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 46757 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49279 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 47612 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 46840 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49335 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 47413 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 46825 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 47785 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 47819 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 47016 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48796 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48596 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49424 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 47592 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 47688 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 47692 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48546 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 47703 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48693 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49301 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49123 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49075 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 47806 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48921 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 46750 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49111 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 47994 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48928 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48706 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49467 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49417 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48268 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48213 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49075 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49892 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48867 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48923 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49685 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48817 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48857 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49731 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48934 value 20190229. Reason: day is out of range for month
[1304640, 1569600, 1575360, -491040, 1569600, 1071360, 156960, 1569600, 1560960, 1229760]
Transfer Time on: DT_CTE.1
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 47933 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49418 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49190 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49065 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48813 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 48065 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49733 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49651 value 20190229. Reason: day is out of range for month
Error while transfer string to datatime in column LEG_CRD_EFF_EDT, line 49564 value 20190229. Reason: day is out of range for month
[-273600, -8640, -2880, -491040, -8640, -505440, -180000, -8640, -17280, -347040]
Transfer Time on: LEG_CRD_EFF_STT

[-273600, -8640, -2880, -491040, -8640, -505440, -2472480, -8640, -17280, -348480]
Transfer Time on: SIGN_DT
[-273600, -8640, -2880, -456480, -8640, -505440, -31680, -8640, -17280, -347040]
Transfer Time on: DT_UTE.1
[191520, 0.0, 28800, 172800, 0.0, 172800, 120960, 0.0, 110880, 180000]
Transfer Time on: CLR_DT
Error while transfer string to datatime in column CLR_DT, line 4531 value 1112.0. Reason: time data '1112' does not match format '%Y%m%d'
[-1440, 0, 0, 0, 0, -1440, 0, 0, 0, 0]
Transfer Time on: DT_UTE
[239040, -8640, 28800, 172800, -8640, 191520, 122400, -8640, 110880, 188640]
Transfer Time on: DT_CTE
[-273600, -8640, -2880, -491040, -8640, -505440, -180000, -8640, -17280, -347040]
0    0
1    0
2    0
3    0
4    0
Name: TRAN_DT, dtype: int64

In [81]:
print(global_df_lst[0]['DATE_CREATED'][:5])
clean_df.transfer_datetime_to_int(column_names=date_time_format_2_lst, datetime_format="%Y-%m-%d %H:%M:%S.%f", basetime=datetime.datetime(2018,3,1), scale="Minute")
print(global_df_lst[0]['DATE_CREATED'][:5])

0    2017-11-01 00:02:02.496000
1    2017-11-01 00:02:55.450000
2    2017-11-01 00:03:07.350000
3    2017-11-01 00:01:51.354000
4    2017-11-01 00:04:51.789000
Name: DATE_CREATED, dtype: object
Transfer Time on: DATE_CREATED
[2, 2, 3, 1, 4, 0, 1, 2, 9, 9]
Transfer Time on: LAST_UPDATED
[2, 2, 3, 2, 4, 0, 1, 2, 9, 9]
0    2
1    2
2    3
3    1
4    4
Name: DATE_CREATED, dtype: int64

In [90]:
clean_df.fill_value_to_nan_cell()

Filling column UUID
Filling column OUUID
Filling column ORD_NO
Filling column CLR_DT
Filling column RE_BUS_CNL
Filling column IN_MNO
Filling column TRM_NO
Filling column MCC_CD
Filling column BAT_NO
Filling column TRAN_DT
Filling column TRAN_TM
Filling column CTXN_DT
Filling column CORG_NO
Filling column POS_OPR_ID
Filling column TRAN_FLG
Filling column TRAN_CD
Filling column OLD_TRAN_CD
Filling column CORG_RCD
Filling column CORG_TRAN_STS
Filling column TRAN_STS
Filling column IN_MOD
Filling column CRD_NO
Filling column CCY
Filling column TRAN_AMT
Filling column REF_AMT
Filling column REF_FEE_AMT
Filling column QK_AMT
Filling column CORG_FEE_RAT
Filling column CORG_FEE_AMT
Filling column REC_FEE_AMT
Filling column BD_FLG
Filling column BNK_TYP
Filling column CRD_TYP
Filling column CRD_FLG
Filling column IC_CRD_FLG
Filling column AUT_CD
Filling column RP_CD
Filling column DATE_CREATED
Filling column LAST_UPDATED
Filling column SIGN_FLG
Filling column CFM_FLG
Filling column CORG_NM
Filling column TD_MNO
Filling column IDE_NO
Filling column TRAN_DT.1
Filling column SIGN_MNO
Filling column MNO
Filling column ENCRY_CRD_NO
Filling column TXN_RSV1
Filling column SES_BAT_NO
Filling column FINISH_DT
Filling column FINISH_TM
Filling column MEC_FEE_RATE
Filling column COOPER_FLAG
Filling column CO_RUL_NO
Filling column MEC_BUSI_TYP
Filling column WEB_SERVE_AMOUNT
Filling column COUPON_AMT
Filling column PAY_TYPE
Filling column PAY_SOURCE
Filling column SPECIAL_OFFER
Filling column LIMIT_CREDIT_PAY
Filling column SETTLE_FLAG
Filling column REVERSE_FLAG
Filling column SECOND_CONFIRM
Filling column MEC_TYPE_FLAG
Filling column MEC_SOURCE
Filling column PARENT_IN_MNO
Filling column MEC_TYP
Filling column MEC_STS
Filling column MEC_FEE_TYP
Filling column MEC_PROV_CD
Filling column MEC_CITY_CD
Filling column MEC_DIST_CD
Filling column CPR_TYP
Filling column CUP_CODE
Filling column SYS_ID
Filling column CTE_STFF_NO
Filling column UTE_STFF_NO
Filling column DT_CTE
Filling column DT_UTE
Filling column TM_UTE
Filling column TM_CTE
Filling column AGRNO
Filling column ZFT_FLG
Filling column QRCODE_FLG
Filling column IS_STAR
Filling column GOLD_PRODUCT_STS
Filling column IS_XW_MEC
Filling column AGENT_BRANCH_ORG_UUID
Filling column REGION_CODE_MAINT
Filling column COOPERATION_MANAGER_ID
Filling column ROOT_AGENT_ORG_NO
Filling column AGENT_ORG_NO
Filling column BUSINESS_EMP_NO
Filling column BRANCH_ORG_UUID
Filling column MEC_BUSI_TYP.1
Filling column MEC_NORMAL_LEVEL
Filling column QRCODE_MNO_TYPE
Filling column NO_SIGN_SECRET
Filling column CS_TEL_NO_ENC
Filling column DATA_COMP
Filling column OPER_LIC_LEFF_FLG
Filling column OPER_LIC_EFF_STT
Filling column OPER_LIC_EFF_EDT
Filling column LEG_PER_CRD_TYP
Filling column LEG_CRD_EFF_STT
Filling column LEG_CRD_EFF_EDT
Filling column TAX_REG_NO
Filling column ORG_COD
Filling column OPER_STT
Filling column OPER_EDT
Filling column OPER_AREA
Filling column OPER_LIC_NO
Filling column SYS_ID.1
Filling column CTE_STFF_NO.1
Filling column UTE_STFF_NO.1
Filling column DT_CTE.1
Filling column DT_UTE.1
Filling column TM_UTE.1
Filling column TM_CTE.1
Filling column TRM_QUANTITY
Filling column SIGN_DT
Filling column AUT_SET_STS
Filling column BANK_TEAM_WORK
Filling column BANK_TEAM_WORK_SIGN
Filling column CUSTOM_CLASSIFY
Filling column MANAGER_TEAM_WORK
Filling column BANK_MANAGER
Filling column MEC_ADMIN_TEL_ENC
Filling column CONT_TEL_NO_ENC
Filling column LEG_PER_CRD_NO_ENC
Filling column LEG_PER_NM_ENC
Filling column OTHER_ENC_FLG

In [92]:
with open("csv201803_clear_2.csv", 'w') as f:
    for idx, df in enumerate(global_df_lst):
        if idx == 0:
            df.to_csv(f, mode='w', header=True, index=False, encoding='utf-8')
        else:
            df.to_csv(f, mode='a', header=False, index=False, encoding ='utf-8')